/*В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства*/
:root {
  --content-font-family: 'Inter-Variable'; /*вариативный шрифт основного контента страницы*/
  --accent-font-family: 'PressStart2P'; /*шрифт шапки,кнопок, лейбла на карточке, модального окна*/
  --title-font-weight: 715; /*вес вариативного шрифта заголовка карточки*/
  --text-font-weight: 410; /*вес вариативного шрифта основного контента страницы*/
  --accent-font-weight: 400; /*вес шрифта шапки, кнопокб лейбла на карточке, модального окна*/ 
  --bg-color: #fff; /*цвет фона страницы*/
  --bg-image: 
    repeating-linear-gradient(to right, #d3d3d3 0px, #d3d3d3 2px, transparent 2px, transparent 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0px, #d3d3d3 2px, transparent 2px, transparent 4px),
    linear-gradient(to bottom, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%); /*градиент фона страницы*/
 --block-weight: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem); /*ширина блока шапки и блока контента страницы*/
 --content-text-color: #000; /*цвет шрифта контента*/
 --label-border-color: #fff; /*цвет обводки лейбла карточки*/
 --content-font-size: 18px; /*размер шрифта контента страницы*/
 --accent-font-size: 14px; /*размер шрифта шапки, кнопок, лейбла на карточке, модульного окна*/
 --bg-color-button: transparent; /*цвет фона кнопок*/
 --bg-color-save-button:#fff; /*цвет фона кнопки сохранения*/
 --hover-text-color: #fff; /*цвет текста в режиме наведения курсора*/
 --hover-bg-color-button: #000; /*цвет фона кнопки в режиме наведения курсора*/
 --border-color: #000; /*цвет рамки элемента*/
 --animation-fill-color: #ff0000; /*цвет заливки иконки-сердца*/
 --contour-color: #000; /*цвет контура иконки сердца*//*цвет фона кнопки сохранения*/
}